body{
	background-color: #000000;
	opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

.nav-bar{

}

.nav-bar header{
    height: 7vh;
    position: fixed;
    top: 5px;
    right: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 4px;
}

.logo__menu{
    padding: 20px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img__logo{
    width: 50px;
    height: 50px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__txt{
    color: white;
    margin-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav__item{
    font-size: 24px;
    margin: 0 25px;
    color: #ffffff;
    text-decoration-line: none;
}

.nav__item:hover{
    color: rgb(0, 47, 255);
}

/*-Секция 1-*/

#sect-1 {
	margin-top: 0vh;
	animation: slide 1s ease-out forwards;
	height: 100vh;
	background-image: url("IMG20220529190207.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
}

.text-1 {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-1 span{
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 15s infinite linear;
    -moz-animation: scroll 15s infinite linear;
    animation: scroll 15s infinite linear
}

/*-Секция 2-*/

#sect-2 {
    margin-top: 1vh;
    animation: slide 1s ease-out forwards;
    height: 100vh;
    background-image: url("IMG20220529190207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.text-2  h2 {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-2 p {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-Секция 3-*/

#sect-3 {
    margin-top: 1vh;
    animation: slide 1s ease-out forwards;
    height: 100vh;
    background-image: url("IMG20220529190207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.text-3  h2 {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-3 p {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-3 ul {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-Секция 4-*/

#sect-4 {
    margin-top: 1vh;
    animation: slide 1s ease-out forwards;
    height: 100vh;
    background-image: url("IMG20220529190207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.text-4  h2 {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-4 p {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-Секция 5-*/

#sect-5 {
    margin-top: 1vh;
    animation: slide 1s ease-out forwards;
    height: 100vh;
    background-image: url("IMG20220529190207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.text-5  h2 {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-5 p {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*-Секция 6-*/

#sect-6 {
    margin-top: 1vh;
    animation: slide 1s ease-out forwards;
    height: 100vh;
    background-image: url("IMG20220529190207.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.text-6  h2 {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.text-6 p {
    left: 1%;
    top: 200px;
    position: relative;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*- Бегущая строка с изоображениями -*/

.items-wrap {
  top: 150px ;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 100px;
}
.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 67%;
  top: 0;
  width: 15%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.items-wrap:before {
  top: 100px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.items-wrap:after {
  top: 100px;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  background: #ccc;
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
  counter-increment: item;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 100px 0;
  transition: all 0.1s ease-in-out;
}

.item img{
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.item:hover {
  transform: scale(1.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.marquee {
  animation: scroll 10s linear infinite;
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}

/*- Анимации -*/


@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0)
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes slide {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
}